@charset "UTF-8";

@font-face {
    font-family: xilosa;
    src: url('../fontes/xilosa_.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* ===== CORES ====== */
    --cor01: #48E0B3;
    --cor02: #65C7C2;
    --cor03: #F76D6D;
    --cor04: #FFDEAD;
    --cor05: #fff;
    --cor06: #141414;

    /* ===== FONTES ===== */
    --fonte-normal: 'Poppins', sans-serif;
    --fonte-estilo: 'xilosa', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor05);
}

header {
    text-align: center;
    color: var(--cor05);
    background-color: var(--cor06);
    margin-bottom: 3em;
    padding: 3em;
}

header > h1 {
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    font-family: var(--fonte-estilo);
    font-size: 5em;
    margin-bottom: 0.25em;
}

header p, footer p {
    font-family: var(--fonte-normal);
}

header a, footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor05);
}

header a:hover, footer a:hover {
    color: var(--cor04);   
}

section {
    padding: 10vh 2em;
    font-family: var(--fonte-estilo);
    font-size: 1.75em;
    line-height: 2em;
}

section.normal {
    background-color: var(--cor05);
    color: var(--cor06);
}

section.imagem {
    background-color: var(--cor04);
    color: var(--cor06);
}

section.imagem > p {
    background-color: var(--cor03);
    padding: 0.75em;
    width: 400px;
}

footer {
    color: var(--cor05);
    background-color: var(--cor06);
    margin-top: 3em;
    padding: 1em;
    text-align: center;
}